
.nav {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 10vh;
}

.navItem {
  font-family: 'Phosphate-Solid';
  flex: 2;
  text-align: center;
  margin: 20px;
}

.navItem.active {
  border: solid 7px black;
  margin: 13px;
}

p {
  text-decoration: none;
}

.title {
  font-family: 'Phosphate-Inline';
  font-size: 100;
  color: #2196f3;
  text-shadow: 2px 2px black;
  text-align: center;
  margin: 15px;
  padding: 5px;
  width: 40vw;
}

.pageSlide {
  order: 1;
  border: solid 2px black;
  width: 80vw;
  height: 100vh;
  margin-bottom: 5vh;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
