@font-face {
  font-family: 'Phosphate-Solid';
  src: url('./fonts/Phosphate-Solid.eot');
  src: url('./fonts/Phosphate-Solid.woff') format('woff'),
       url('./fonts/Phosphate-Solid.ttf') format('truetype'),
       url('./fonts/Phosphate-Solid.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phosphate-Inline';
  src: url('./fonts/Phosphate-Inline.eot');
  src: url('./fonts/Phosphate-Inline.woff') format('woff'),
       url('./fonts/Phosphate-Inline.ttf') format('truetype'),
       url('./fonts/Phosphate-Inline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Droid Sans Mono';
  font-size: 16;
}

.containerBorder {
  border: solid 20px black;
  margin: 30px;
  min-height: 100vh;
}

.containerBody {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}



.nav {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 10vh;
}

.navItem {
  font-family: 'Phosphate-Solid';
  flex: 1;
  text-align: center;
  padding: 5px;
}

.navItem.active {
  border: solid 7px black;
}

a {
  text-decoration: none;
}

.title {
  font-family: 'Phosphate-Inline';
  font-size: 100;
  color: #2196f3;
  text-shadow: 2px 2px black;
  text-align: center;
  margin: 15px;
  padding: 5px;
  width: 50vw;
}

.pageSlide {
  order: 1;
  border: solid 2px black;
  width: 80vw;
  height: 100vh;
  margin-bottom: 5vh;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
